ol {
  list-style-type: lower-alpha;
  /* list-style-type: hiragana-iroha; */
  /* list-style-image: url(""); */
}
hr {
  width: 50%;
}

ul {
  list-style-type: lower-greek;
}
table,
td,
th {
  border: 1px solid gray;
}
table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
  font-size: 24px;
}

tr:hover {
  background-color: lightblue;
}

tr:nth-child(even) {
}

div {
  background-color: lightpink;
  display: inline;
}
